<tr class="table-row">
    <td class="table-first-col">{{id}}. {{title}}</td>
    <td class="table-first-col">by {{author}}</td>
    <td>
        <!--<button class="change-readed" data-id="{{id}}">READ IT!</button>-->
        <button class="change-readed" data-id="{{id}}" data-newState="{{readed}}">
		READ IT!
	</button>
    </td>
</tr>